@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css" />
</head>
<body>
    <!--меню-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li><a asp-action="Index" asp-controller="Home" class="navbar-brand">Каталог публикаций</a></li>
                    <li><a asp-action="MyPublications" asp-controller="Publications" class="navbar-brand">Мои публикации</a></li>
                    <li><a asp-action="CreatePublication" asp-controller="Publications" class="navbar-brand">Создать карточку</a></li>
                    <li><a asp-action="Profile" asp-controller="Users" class="navbar-brand">Профиль</a></li>
                    <li><a asp-action="LogOff" asp-controller="Account" class="navbar-brand btn-warning">Выйти</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--основной контент-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2019 - InoLibrary</p>
        </footer>
    </div>
</body>
</html>