@model InoLibrary.ViewModels.CreatePublicationViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_layout";
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>CreatePublication</title>
</head>
<body>

    <h4>Новая карточка</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreatePublication" asp-controller="Publications" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Annotation" class="control-label"></label>
                    <input asp-for="Annotation" class="form-control" />
                    <span asp-validation-for="Annotation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublishingYear" class="control-label"></label>
                    @Html.DropDownListFor(m => m.PublishingYear, new MultiSelectList(ViewBag.PublishingYears))
                    <span asp-validation-for="PublishingYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Categories" margin-top=0px; class="control-label"></label>
                    @Html.ListBoxFor(m => m.Categories, new MultiSelectList(ViewBag.Categories))
                    <span asp-validation-for="Categories" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="File" type="file" /><br>
                </div>
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-sm btn-primary" />
                </div>
            </form>
        </div>
    </div>

</body>
</html>
